
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    text-align: center;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  .current-booking,
  .booking-history {
    margin-bottom: 40px;
  }
  
  .booking-container {
    display: flex;
    align-items: center;
  }
  
  .booking-image {
    flex-basis: 40%;
    margin-right: 20px;
  }
  
  .booking-image img {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  .booking-details {
    flex-basis: 60%;
  }

.current-booking button {
    background-color: #161dd4; 
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover Effect */
  .current-booking button:hover {
    background-color: #650e15; /* Darker red color on hover */

  }
  .service-history-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .service-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .service-item p {
    margin: 5px 0;
  }