
form {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0c09098b;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .three-words,
  .services,
  .contact-info,
  .working-hours {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .three-words input,
  .contact-info input,
  .working-hours input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .services input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .services label {
    margin-right: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #054808;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }