* {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container{
    padding: 20px 20px;
    height: 100%;
    background: url("../Images/Black\ and\ Yellow\ Modern\ Car\ Services\ Poster\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

.navStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    cursor: pointer;
}


button {
    margin-right: 2px;
    padding: 6px;
    background-color: gray;
    color:#fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;    
}

button:hover {    
    background-color: #e5533d;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size:x-large;
    cursor: pointer;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #ff6347;
}

.fancy-title {
    margin-top: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    color: #ff2217;
    letter-spacing: 2px;
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
.sub-title {
    margin-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.describe {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.aboutUs-div {
    margin-top: 100px;
    padding: 20px;
    width: 60%;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

.aboutUs {
    max-width: fit-content;
    margin: 0 auto 20px auto;
    background-color: cornflowerblue;
    color: #fff;
    align-items: cente;
}

.aboutUs-div p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1;
    color: #555;
    
}
.service-div {
    margin: 50px 0 50px 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: #e5533d;
}

.service {
    color: #e5533d;
}

.service-list {
    list-style: none;
    text-decoration: none;
    margin: 20px;
    border: #333 solid 1px;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
    background-color: #f2f2f2;
    color: #e5533d;
}


.aboutUs-div p:last-child {
    margin-bottom: 0;
} 

.garages-section {
    text-align: center;
    margin-top: 40px;
    /* background: #f9fafa; */
    padding: 40px;
}

.garages-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 30px;   
}

.garage {
    padding: 20px;
}

.contact {
    margin: 50px;
    color: white;
    
}

.contact p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}